// https://coolors.co/f6f6f4-e8eaea-4781ff-1f1f21-323235
$white: #FDFDFD;
$black: #111011;
$special: #3B6AD1;

@import "home";
@import "navbar";
@import "scrollbar";
@import "footer";
@import "heading";
@import "archive";
@import "post";
@import "window";
@import "postscroll";
@import "block";

html * {
  transition: 0.3s;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: $black;
}
