<!DOCTYPE html>
<html>

{% include head.html %}

<body class="post">
  <div class="progress-cont">
    <div class="progress-bar light" id="myBar"></div>
  </div>

  {% include heading.html title=page.title bg=page.thumbnail %}
  <div id="divpost">
    <div id="divcontent">
      {{content}}
    </div>
  </div>

    <script>
      window.onscroll = function() {myFunction()};

      let post = document.getElementById("divpost");
      function myFunction() {
        var winScroll = post.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }
    </script>

    <div class="linkhome">
      <a href="{{site.url}}">Torna indietro🏡</a>
    </div>

</body>

</html>
